  /* Text Styles */
  h1, h2 { /*Centers Everything*/
    text-align: center;
    text-justify: center;
  }

  h1 { /*Big header*/
    font-size: 60px;
  }
  h2 { /*Smaller header*/
    font-size: 40px;
  }

  /*Bunch of Grid Styles*/
.container {
    display: grid; /*displays it as a grid*/
    width: 100%;
    position: relative;
    margin: 0px;
    padding: 0;
    gap: 10px; /*Gap b/w grid elements*/
    grid-template-areas: "header header header"
                         "images images images"
                         "map map map"
                         "a1 a2 a3"
                         "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr; /*3 equal columns*/
    grid-template-rows: 1.5fr 3.5fr 8fr 6fr 1fr; /*5 not equal rows*/
  }

  header {
    background-color: #F7A440; /*bg color*/
    grid-area: header; /* Grid area */
    padding: 0%;
    width: 100%;
    height: 150px;
    letter-spacing: 10px;
    justify-items: center;
    align-items: center;
  }

  #map {
    grid-area: map; /* Grid area */
    width: 90%;
    text-align: center;
  }

  #map {
    background-color: #F6DCBF; /*bg color*/
  }

  .home-button {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
    border: 2px solid #007bff;
    color: #007bff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000; /* Ensures it's on top of the map */

  }

  .home-button:hover {
    background-color: #007bff;
    color: white;
  }
  
  .a1 {
    background-color: #F6DCBF; /*bg color*/
    grid-area: a1; /* Grid area */
  }
  
  .a2 {
    background-color: #F6DCBF; /*bg color*/
    grid-area: a2; /* Grid area */
  }

  .a3 {
    background-color: #F6DCBF; /*bg color*/
    grid-area: a3; /* Grid area */
  }
  
  footer {
    background-color: #E1701A; /*bg color*/
    grid-area: footer; /* Grid area */
  }

  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .images {
    overflow: hidden;
    padding: 60px 0;
    background: #F6DCBF; /*bg color*/
    white-space: nowrap;
    position: relative;
    grid-area: images;
  }
  
  .images:before,
  .images:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .images:before {
    left: 0;
  }
  
  .images:after {
    right: 0;
  }
  
  .images-slide {
    display: inline-block;
    animation: 60s slide infinite linear;
  }
  
  .images-slide img {
    height: 200px;
    width: 300px;
    margin: 0 40px;
  }